<div class="column">
  <div layout="row" layout-align="center center">
    <md-button class="md-fab userCls">

    </md-button>
  </div>

  <div layout="column" layout-align="space-between center">
    <md-list>
        <md-list-item class="list-item-cls">
          <i class="material-icons">home</i> <span class="">  Home</span>
        </md-list-item>
        <md-list-item class="list-item-cls">
          <i class="material-icons">work</i>  Work
        </md-list-item >
        <md-list-item class="list-item-cls">
          <i class="material-icons">dns</i> Skills
        </md-list-item>
        <md-list-item class="list-item-cls">
          <i class="material-icons">web</i>Project
        </md-list-item>
        <md-list-item class="list-item-cls">
          <i class="material-icons">accessibility</i>  Contact
        </md-list-item>

    </md-list>
  </div>

</div>
