.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.theme-black{
	background-color:#212121;
	color:#757575;
}
.icon-cls{
	height:35px;
}
.userCls{
  background-image:url('../../core/img/shubh.jpg');
  background-size: cover;
	height:6em !important;
	width:6em !important;
}
.list-item-cls{
	outline-color: grey;
  border: 0px solid grey;
  box-shadow: 0px 0px 1px 0px;
	margin-bottom:10px;
}

md-list-item:hover{
	color:white;
	cursor:pointer;
	border-color:white;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}
